.left_side.section
	.form-group
		label(for="letters") Enter Some Letters or Words in the Box Below:
		textarea.form-control(rows="5",id="letters")
		button.btn.btn-default.btn-lg.compute(type='button')
			span.glyphicon.glyphicon-flash(aria-hidden='true')
			|  Compute

